<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Movies{% endblock title %}</title>
    {% load static %}

	<!-- <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css'%}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- generic header of page !-->
    <div class="container text-center">
        <div class="container-xxl">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        
            <!-- logo -->
            
            <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                    <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
                </svg>
                <span class="fs-4">Dionysus</span>
            </a>
            <!-- items -->
            <div class="col-md-3 text-end">
                {% if not request.user.is_authenticated %}
                <a role="button" class="btn btn-primary" href="{% url 'signup' %}">Sign-up</a>
                <a role="button" class="btn btn-primary" href="{% url 'login' %}">Login</a>
                {% else %}
                <a role="button" class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                {% endif %}
        </div>
        
    </nav>
</div>
</div>

    {% block body %}
    {% endblock %}

</body>
</html>
