{% extends 'web/base.html'%}
{% block body %}
<div style="width: 100%; height: 100%; position: relative">
    <div style="left: 29px; top: 196px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sorry, we couldn’t find the page you’re looking for :( <br/>It seems like it got lost during production</div>
        <div style="left: 29px; top: 141px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Page lost in production </div>
        <div style="left: 29px; top: 14px; position: absolute; color: black; font-size: 96px; font-family: Inter; font-weight: 400; word-wrap: break-word">Error 404</div>
        <img style="width: 849px; height: 767px; left: 406px; top: -123px; position: absolute" src="https://gifdb.com/images/high/confused-actor-john-travolta-white-scene-or24i47safpb0zob.gif" />
        <div style="padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 29px; top: 254px; position: absolute; background: #7749F8; border-radius: 6px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Return Home</div>
    </div>
</div>

{% endblock %}