{% extends 'web/base.html'%}
{% block body %}
    <div style="width: 100%; height: 100%; padding-top: 20px; padding-bottom: 20px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
    <div style="width: 872px; height: 512px; position: relative">
    <div style="left: -108.50px; top: 194px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sorry, we couldn’t find the page you’re looking for :( <br/>It seems like it got lost during production</div>
    <div style="left: -108.50px; top: 139px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Page lost in production </div>
    <div style="left: -108.50px; top: 12px; position: absolute; color: black; font-size: 96px; font-family: Inter; font-weight: 700; word-wrap: break-word">Error 404</div>
    <img style="width: 490px; height: 476px; left: 513.50px; top: 0px; position: absolute" src="https://gifdb.com/images/high/confused-actor-john-travolta-white-scene-or24i47safpb0zob.gif" />
    </div>
    </div>
{% endblock %}